<div class="ui grid container">
    <div class="sixteen wide sixteen wide table sixteen wide computer column">
        <i class="circular info icon link ex5" style="float: right;" data-content="Sobre o exercicio" data-variation="inverted"></i>
        <div class="ui left icon input">
            <input id="ex5_numero" type="text" placeholder="Digite um numero inteiro">
            <i class="magic icon"></i>
          </div>
          <button class="ui green basic button" onclick="calculoFibonacci()">Mostrar soma fibonacci</button>
        </div>
        <p id="msg_ex5" class="d-none green" style="font-size: initial;margin: 0 0 10px 3px;"></p>
</div>
<script src="../assets/js/iteracoes_ex_5.js"></script>