<div class="ui grid container">
    <div class="sixteen wide sixteen wide table sixteen wide computer column">
        <i class="circular info icon link ex3" style="float: right;" data-content="Sobre o exercicio" data-variation="inverted"></i>
        <p style="font-size: initial;">Digite um array de numeros separados por virgula</p>
        <div class="ui left icon input">
            <input id="ex3_numero_array" type="text" placeholder="Ex: 5, 8, 1,34,7 , 10">
            <i class="magic icon"></i>
          </div>
          <button class="ui green basic button" onclick="SomaVetor()">Calcular soma</button>
        </div>
        <p id="msg_ex3" class="d-none green" style="font-size: initial;margin: 0 0 10px 3px;"></p>
</div>
<script src="../assets/js/iteracoes_ex_3.js"></script>