<div class="ui grid container">
    <div class="sixteen wide sixteen wide table sixteen wide computer column">
        <i class="circular info icon link ex2" style="float: right;" data-content="Sobre o exercicio" data-variation="inverted"></i>
        <p style="font-size: initial;">Digite 0 para encerrar o programa</p>
        <div class="ui left icon input">
            <input id="ex2_numero" type="text" placeholder="Digite um numero">
            <i class="magic icon"></i>
          </div>
          <p id="msg_ex2" class="d-none" style="font-size: initial;"></p>
          <button id="btn_reset" class="ui yellow basic button d-none" onclick="resetProgram(this)">Reiniciar programa</button>
    </div>
</div>
<script src="../assets/js/iteracoes_ex_2.js"></script>